:root{
    font-size: 40%;
}
body{
    background-color: var(--color-primary);
}
#container .logoDescription{
    text-align: center;
}
#container .logoDescription img{
    width: 40rem;
}
#container .logoDescription h2{
    font-size: 3.6rem;
    color: var(--color-text-in-primary);
    font-weight: 500;
    margin-bottom: 3rem;
}
#container .hero-img{
    width: 100%;
    margin-bottom: 3.4rem;
}
#container .container-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
#container .container-buttons a{
    width: 30rem;
    height: 10.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.8rem;
    color: var(--color-button-text);
    text-decoration: none;
    font-size: 2.4rem;
    transition: background 400ms;
}
#container .container-buttons a img{
    margin-right: 1.6rem;
}
#container .container-buttons a.study{
    background-color: var(--color-primary-lighter);
    margin-right: 1.6rem;
}
#container .container-buttons a.give-classes{
    background-color: var(--color-secondary);
}
#container .container-buttons a.study:hover{
    background-color: var(--color-primary-light);
}
#container .container-buttons a.give-classes:hover{
 background-color: var(--color-secondary-dark);   
}
#container .total-connection{
    font-size: 2.6rem;
    color: var(--color-text-in-primary);
    margin-top: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container .total-connection img{
    height: 2.6rem;
    margin-left: 0.8rem;
}
